<div class="comment-content">
  <% render_comment(comment) do |qoute| -%>
    <% if qoute.author -%>
      <div class="quotestart">
        <div class="quotename">
          Цитата &mdash; <%= qoute.author %>
        </div>
      </div>
    <% end -%>
    <%= simple_format quote.body %>
  <% end %>
</div>